/*this style for Devices which height less 800 px*/

/*Common settings*/
.VAADINUI {
    background-color: #eceeef;
    color: black;

}

.Notification {
    background-color: black;
    color: black;
}

/*Settings for Head*/
.VAADINUI-HeadHorizontalLayout {
    background-color: #297fbc;
    width: 110%;
    min-height: 4vh;
    max-height: 6.7037037037037033vh;
    margin-top: -3.2407407407407405vh;
    margin-bottom: 0;

    text-align: center;
    margin-left: -2.0833333333333335vw;
}

.VAADINUI-head {
    margin-top:  1.4518518518518516vh;
    color: white;
    font-size: 2vw;
}

/*Settings for MainHorizontalLayout*/
.VAADINUI-mainHorizontalLayout {
    width: 110%;
    height: 84vh;
    margin-top: -0.9259259259259258vh;
    margin-left: -2.0833333333333335vw;
    margin-right: -4.166666666666667vw;
    background-color: rgba(253, 248, 252, 0.53);
}

/*Settings for Weather Panel*/
.weather {
    background-color: #109c82;
    margin-left: 10.625vw;
    margin-top: 12.962962962962962vh;
    font-size: 0.9vw;
    min-width: 14.020833333333334vw;
    max-width: 14.020833333333334vw;
    min-height: 10vh;
    max-height: 23.148148148148145vh;
    text-align: center;

    color: white;
}

.v-filterselect {
    max-width: 11.5vw;
    min-width: 11.5vw;

}

.v-filterselect-input {

    font-size: 1vw;
}

.v-filterselect-button {

}

.v-filterselect-suggestpopup {
    font-size: 1vw;
}

.weather-ComboBox {
    width: 12vw;
    height: 2vh;
}

/*Settings for Button*/
.weather-refresh {
    margin-left: 40%;
    width: 6vw;
    min-height: 2vh;
    max-height: 6vh;
}

.progressBar-Weather {
    background-color: white;
    margin-left: 40%;

}

.v-progressbar-wrapper {
    height: 50px;
}

/*Settings for Panel Rates*/
.exchangeRates {
    background-color: #3094de;
    margin-left: 15.625vw;
    margin-top: 12.962962962962962vh;
    font-size: 0.9vw;
    min-width: 13.020833333333334vw;
    min-height: 8vh;
    max-height: 20.51851851851852vh;
    text-align: center;
    color: white;
}

.exchangeRates-labels {

}

/*Settings for Button*/
.exchangeRates-refresh {
    min-width: 2vw;
    max-width: 6vw;

    min-height: 2vh;
    max-height: 6vh;
    size: 2vw;

}

.progressBar-Rates {
    background-color: white;
    margin-left: 40%;
    margin-top: 10%;
}

/*settings for Panel Visitors*/
.visitors {
    background-color: #2a3c52;
    margin-left: 15.625vw;
    margin-top: 12.962962962962962vh;
    font-size: 0.9vw;
    min-width: 13.020833333333334vw;
    min-height: 4vh;
    max-height: 9.25925925925926vh;
    text-align: center;
    color: white;
}

/*settings for Down*/
.VAADINUI-down {
    margin-top: 0.5%;
    width: 100%;
    font-size: 1vw;
}
.VAADINUI-ipLabel {
    margin-left: 60vw;

}

